/target
/wasi-sdk*
binaryen-*
node_modules
neardev*
out
.DS_Store
wabt-*
emsdk
quickjs-*
emsdk
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
bin
*.mp4
file_list.txt
freeze_frames
example-contracts.car
yarn-error.log
*keypair.json
package-lock.json
